version: '3.1'
services:
  web:
    image: nginx
    volumes:
    - ./web:/usr/share/nginx/html
    ports:
    - "8080:80"
    environment:
    - NGINX_HOST=kobaz.com
    - NGINX_PORT=80
  odoo:
    image: odoo:16.0
    depends_on:
      - mydb
    ports:
      - "8069:8069"
    environment:
    - HOST=mydb
    - USER=odoo
    - PASSWORD=myodoo
  mydb:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=myodoo
      - POSTGRES_USER=odoo