body {
  margin: 0;
  padding: 0;
 
  background-color: #272424;
  font: 100%/160% "verdana", sans-serif;
  color: #000000;
}


p {
  margin: 0em 0;
  padding: 0;
}

.clear {
  clear: both;
}

h1, h2, h3, h4, h5 {
  margin: 1em 0;
  padding: 0;
}

h1 {
  font-size: 260%;
  font-family: "georgia", serif;
  font-weight: normal;
}

h2 {
  font-size: 180%;
  font-family: "georgia", serif;
  font-weight: normal;
}

h3 {
  font-size: 120%;
  font-weight: bold;
}

ul, ol {
  margin: 1em 0 1em 2em;
  padding: 0;
  
}

#menu {

  padding: 10px 0 0 0;

}

#menu ul {
  margin: 0 93px;
  padding: 0;
  list-style:none;
}

#menu ul li {
  margin: 0 5px 0 0;
  padding: 0;
  float:left;
}

#menu ul li a {
  display: block;
  position: relative;
  padding: 5px 15px;
  border: 0;
  background: #4d4d4e;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#menu ul li.seleccionado a {
  background: #FFF;
  color: #000000;
}

#contenedor {
  width: 100%; /* Cambiamos de 770px a 100% */
  margin: 0;
  background:  url("https://media.istockphoto.com/id/1132628790/es/vector/fondo-de-tecnolog%C3%ADa-blockchain.jpg?s=1024x1024&w=is&k=20&c=GsWOvLXGV_kDHS_7-3BHEPWhWGfq9uRgqGd3NQkQ3n0=" ) 0 0  repeat-x;
}

#contenedorBI{
  width: 100%; /* Cambiamos de 770px a 100% */
  margin: 0;
  background:  url("https://media.istockphoto.com/id/1401364383/es/vector/patr%C3%B3n-geom%C3%A9trico-con-cubos-experiencia-tecnol%C3%B3gica-ilustraci%C3%B3n-vectorial.jpg?s=1024x1024&w=is&k=20&c=PEZPhqaZ_GTLdvQF7bIPA4b26mrlcXwz4Yw__ArBBb0=") 0 0  repeat-x;

}

#contenedorHIRU{
  width: 100%; /* Cambiamos de 770px a 100% */
  margin: 0;
  background:  url("https://media.istockphoto.com/id/1195895643/es/vector/fondo-corporativo-grunge-negro-con-l%C3%ADneas-doradas.jpg?s=612x612&w=0&k=20&c=kr4pj5mECaSHBMYCeH5m7p-7Rm_NBRAjulLThhmdjMU=") 0 0  repeat-x;

}

#contenedorLAU{
  width: 100%; /* Cambiamos de 770px a 100% */
  margin: 0;
  background:  url("https://media.istockphoto.com/id/1411961227/es/vector/patr%C3%B3n-negro-sin-costuras-con-formas-de-tri%C3%A1ngulos.jpg?s=1024x1024&w=is&k=20&c=MqADwtgSJ-jEyZQ_37L2mqa7czYz26yZhAXz1R7Wv2s=") 0 0  repeat-x;

}
#contenedorBOST{
  width: 100%; /* Cambiamos de 770px a 100% */
  margin: 0;
  background:  url("https://st4.depositphotos.com/41691762/41882/v/450/depositphotos_418821626-stock-illustration-grey-streak-black-wallpaper-abstract.jpg") 0 0  repeat-x;

}

#cabecera {
  width: 0%; /* mover logo kobaz*/
  position: relative;
  height: 150px;

  margin: 0;
  padding: 0;

  color: #000000;
}

#contenido {
  width: 100%; /* Cambiamos de 760px a 100% */
  margin: 0;
  background: #FFF;   /*fondo*/
}

#contenido #principal {
  float: left;
  width: 70%; /* Cambiamos de 530px a 70% */
  margin-top: 15px;
  padding: 0 0 0 5%; /* Ajustamos el padding izquierdo */
  background: #ffffff;    /*fondo Div*/
}
#contenido1 {
  width: 100%; /* Cambiamos de 760px a 100% */
  margin: 0;
  background: #FFF;   /*fondo*/
}
#contenido1 #principal1 {
  float: left;
  width: 70%; /* Cambiamos de 530px a 70% */
  margin-top: 15px;
  padding: 0 0 0 5%; /* Ajustamos el padding izquierdo */
  background: #ffffff;    /*fondo Div*/
}
#contenido1 #secundario {
  
  float: left;
  width: 30%; /* Cambiamos de 200px a 30% */
  margin: 15px 0 0 0;
  padding: 0;

}
#contenido #secundario {
  
  float: left;
  width: 30%; /* Cambiamos de 200px a 30% */
  margin: 15px 0 0 0;
  padding: 0;

}

#pie {
  color: #FFF;
}

.elemento {
  position: relative;
  width: 120px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-adicional {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 130%;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  transition: opacity 0.5s ease;
  width: 40em;
}

.elemento:hover .texto-adicional {
  opacity: 1;
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.2fr 1.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Zerbitzuak Zerbitzuak"
    "bat Bi"
    "hiru Lau";
}

.Zerbitzuak { grid-area: Zerbitzuak; }

.bat { grid-area: bat; }

.Bi { grid-area: Bi; }

.hiru { grid-area: hiru; }

.Lau { grid-area: Lau; }

table{
    width: 1500px;

}
td,th {
  padding: 5em;
  border: 1px solid rgba(0,0,0,0.2);
}

th{ 
  color: #FFF;
  background-color: #0e0d0d;
}

.articulo1{
  display: flex;
}

.irudia{
  margin-right: 50px ;
}

.irudia1{
  margin-left: 50px ;
}

